<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScanHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ScanHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ScanHelper.Properties.Settings>
            <setting name="Com_Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Com_BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="Com_DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Com_Parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Com_StopBits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Com_FlowControl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CmdWndPosition" serializeAs="String">
                <value>770, 80</value>
            </setting>
            <setting name="CmdWndVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DataFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="DevType" serializeAs="String">
                <value />
            </setting>
            <setting name="ISinfoscan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tritime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SetFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleTime" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="AdvancedMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UDName" serializeAs="String">
                <value>FS36</value>
            </setting>
            <setting name="AimWnd" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="ConnectType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogicFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LastConnectIP" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
        </ScanHelper.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ScanHelper.Properties.Settings>
            <setting name="CmdListMaxCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SampleSyn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AdminKey" serializeAs="String">
                <value>A8430740F168F58AF66D89E22CE6EE5E</value>
            </setting>
        </ScanHelper.Properties.Settings>
    </applicationSettings>
</configuration>
